*{
box-sizing: border-box;
margin=0;
padding=0;
text-decoration: none;
}
.container
{
    background-color:#F2F4F8;
    width: 100%;
    border-radius: 10px;
}
.center
{
    text-align: center;
    color: #191B22;
}
.container>div>div
{
    align-items: center;
    display: inline-block;
    background-color: white;
    border: solid white 1px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width:350px;
    height: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #191B22;
}
#content
{
    padding: 30px;
}